@CHARSET "UTF-8";

table.multiplication {
	border: #000088 1px dotted;
	border-collapse: separated
}

td.intitule {
	background-color: #00AAAA
}

td.valeur {
	border-top: 1px solid #880000;
	border-bottom: solid 1px #008800;
	border-left: solid 1px #000088;
	border-right: solid 1px #888888
}